@page
@model ApiShared.GatewayUI.Pages.ItemModel
@{
}

@using (Html.BeginForm(FormMethod.Post))
{
    <div class="col-4">
        <div class="form-group">
            <label>Local Scheme:</label>
            <select class="form-control" asp-for="@Model.DownstreamScheme" asp-items="@ApiShared.Gateway.Datasource.DownstreamScheme"></select>
        </div>
        <div class="form-group">
            <label for="DownstreamHost">Local Host</label>
            <input class="form-control" asp-for="@Model.DownstreamHost" />
        </div>
        <div class="form-group">
            <label for="DownstreamPort">Local Port</label>
            <input class="form-control" asp-for="@Model.DownstreamPort" />
        </div>
        <div class="form-group">
            <label for="DownstreamPathTemplate">Local Template</label>
            <input class="form-control" asp-for="@Model.DownstreamPathTemplate" />
        </div>
        <hr />
        <div class="form-group">
            <label for="UpstreamPathTemplate">Up Template</label>
            <input class="form-control" asp-for="@Model.UpstreamPathTemplate" />
        </div>
        @foreach (var item in ApiShared.Gateway.Datasource.UpstreamHttpMethod){
        <div class="form-check">
            <input class="form-check-input" name="UpstreamHttpMethod"            
            checked="@Model.UpstreamHttpMethod?.Contains(item)"
            id="chk_@item" type="checkbox" value="@item">
            <label class="form-check-label" for="chk_@item">@item</label>
        </div>
        }
        <button class="btn btn-primary" type="submit">Save</button>
    </div>
}